*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
   
}
.content{
    display: grid;
    grid-template-columns: 17% 1fr;
}
.left{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../Image/background.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
nav{
    padding-top: 20px;
}
.hero img{
    height: 70px;
    width: 160px;
}
nav ul li{
    list-style-type: none;
    display: block;
    padding: 40px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.Rooms {
    color: rgba(71, 237, 255, 0.75);
    text-shadow: 0 0 10px rgba(10, 217, 240, 0.75),
                 0 0 20px rgba(10, 217, 240, 0.75),
                 0 0 40px rgba(10, 217, 240, 0.75);
}
nav ul li a:hover{
    transition: .4s;
    color: #02e6ffdd;
}
.hover-nav a{   
    position: relative;
    padding: 0 2px;
}
.hover-nav a::after{
    content: "";
    position: absolute;
    background-color:rgba(10, 217, 240, 0.75);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}
.hover-nav a:hover:after{
    width: 100%;
}
.right{
    background-image: url('../Image/A_B.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.top{
    clip-path: polygon(36% 0, 100% 0, 100% 100%, 0% 100%);
    background-color:rgba(10, 217, 240, 0.75);
    width: 40%;
    height: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
    
}
.top h1{
    padding-left: 124px;
   text-align: center;
   padding-top: 8px;
}
.top h3{
    padding-left: 100px;
    padding-top: 20px;
}
.top p{
    padding-left: 110px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}
@media all and (min-height: 600px) {
    
}