*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 220vh;
    width: 100%;
    background-image: linear-gradient(rgba(55, 63, 63, 0.75), rgba(23, 24, 24, 0.932)), url('../Image/rooms.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: -200px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
.hero img{
    height: 90px;
    width: 200px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.Rooms {
    color: rgba(71, 237, 255, 0.75);
    text-shadow: 0 0 10px rgba(10, 217, 240, 0.75),
                 0 0 20px rgba(10, 217, 240, 0.75),
                 0 0 40px rgba(10, 217, 240, 0.75);
}
nav ul li a:hover{
    transition: .4s;
    color: #02e6ffdd;
}
.hover-nav a{   
    position: relative;
    padding: 0 2px;
}
.hover-nav a::after{
    content: "";
    position: absolute;
    background-color:rgba(10, 217, 240, 0.75);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}
.hover-nav a:hover:after{
    width: 100%;
}
.btn{
    background-color: rgba(10, 217, 240, 0.75);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    box-shadow: 0 0 3px rgba(10, 217, 240, 0.75);
   
}
.btn:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(10, 217, 240, 0.75);
}
.container{
    width: 100%;
    height: 100vh;
    margin-top: -10px;
    
}
.head{
    margin: auto;
    width: 60%;
    height: 25%;
    text-align: center;
    color: #f4f3f0dd;
    
}
span{
    color:  rgba(10, 217, 240, 0.75);
}
.image {
    position: relative;
    display: inline-block;
  }
  .nav{
    border: 6px solid wheat;
    margin-top: 10px;
  }
  .nav ul li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
  }
.main{
    display: flex;
}
.main img{
    height: 250px;
    width: 350px;
    border-radius: 5px;
}
.image{
    display: inline-block;
}
.image:nth-child(1){
    margin-right: 5px;
    margin-left: 38px;
}
.footer{
    margin-top: 35px;
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    color: white;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
  }
  .second{
    position: absolute;
   padding-top: 100px; 
   padding-left: 100px;
  }
  .text img{
    opacity: 0;
  }
  .text img:hover{
    opacity: 0;
  }
  .image:hover .overlay {
    opacity: 1;
    border-radius: 5px;
  }
  @media all and (min-height: 600px) {
    body{
        height: 183vh;
    }
   .btn{
    margin-top: 90px;
   }
   .nav{
    margin-top: 30px;
   }

}